
@{
    ViewBag.Title = "CSBH";
    Layout = "~/Views/Shared/_LayoutPagePhu.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <h2 style="font-weight:bold; font-style:italic; color:crimson; text-align:center">CHÍNH SÁCH VÀ BẢO HÀNH</h2>
            <p>
                <strong>Phạm vi và địa điểm bảo hành</strong>
            </p>
            <p style="text-align:justify;">
                <strong>- Sản phẩm bảo hành: </strong>
                Sản phẩm chính hãng của NKTVest được phân phối chính thức tại hệ thống cửa hàng trên toàn quốc bị lỗi kỹ thuật (không bao gồm các lỗi sản phẩm mà khách hàng đã được thông báo trước khi quyết định mua hàng) hoặc lỗi phát sinh trong quá trình khách hàng sử dụng có thể khắc phục sửa chữa được.
            </p>
            <p style="text-align:justify;">
                <strong>- Địa điểm nhận bảo hành: </strong>
                Hệ thống cửa hàng NKTVest trên toàn quốc hoặc Phòng CSKH của NKTVest.
            </p>
            <p style="text-align:justify;">
                <strong>- Thời hạn bảo hành 01 năm đối với BST Suit và 06 tháng đối với các sản phẩm còn lại.</strong>
            </p>
            <p style="text-align:justify;">
                Nhóm Bộ Suit
                <br>+ Thời gian bảo hành: 1 năm</br>
                + Chi tiết lỗi: Lỗi vải, lỗi may, lỗi phụ liệu, các lớp dập ép, khóa, móc kéo, logo bị hư hỏng.
            </p>
            <p style="text-align:justify;">
                Nhóm hàng Áo Vest
                <br>+ Thời gian bảo hành: 6 tháng</br>
                + Chi tiết lỗi: Lỗi vải, lỗi may, lỗi phụ liệu, các lớp dập ép, khóa, móc kéo, logo bị hư hỏng.
            </p>
            <p style="text-align:justify;">
                Nhóm hàng Áo sơ mi, Quần âu
                <br>+ Thời gian bảo hành: 6 tháng</br>
                + Chi tiết lỗi: Lỗi vải, lỗi may, lỗi phụ liệu, các lớp dập ép, khóa, móc kéo, logo bị hư hỏng.
            </p>
            <p style="text-align:justify;">
                Nhóm hàng Giày Tây, Thắt lưng
                <br>+ Thời gian bảo hành: 6 tháng</br>
                + Chi tiết lỗi: Lỗi tuột chỉ, bục chỉ do thắt nút lỏng hoặc chất lượng chỉ kém, da bị hỏng do chất lượng da kém, chốt mặt dây lưng
            </p>
            <p style="text-align:justify;">
                Nhóm hàng Sản phẩm phụ kiện
                <br>+ Thời gian bảo hành: 6 tháng</br>
                + Chi tiết lỗi: Lỗi kẹt khóa, trượt khóa, gãy khóa, hỏng chốt
            </p>
            <p style="text-align:justify;">
                <strong>Điều kiện bảo hành miễn phí</strong>
            </p>
            <p style="text-align:justify;">- Sản phẩm đó còn thời hạn bảo hành được tính kể từ ngày mua hàng trên chứng từ xuất bán của NKTVest</p>
            <p style="text-align:justify;">- Sản phẩm lỗi và được sử dụng đúng cách theo mục hướng dẫn sử dụng đi kèm sản phẩm</p>
            <p style="text-align:justify;">- Tất cả các sự cố về mặt kỹ thuật của nhà sản xuất như: </p>
            <p style="text-align:justify;">* Lỗi tuột chỉ, bục chỉ do thắt nút lỏng hoặc chất lượng chỉ kém (không bảo hành về lỗi đứt chỉ do ngoại lực tác động)</p>
            <p style="text-align:justify;">* Trường hợp da/ vải bị hỏng do chất lượng da/vải kém, (không bảo hành về lỗi hỏng da/vải do ngoại lực tác động, da/vải mòn do cọ sát nhiều, da/vải mục hỏng do khách hàng bảo quản không đúng cách, để sản phẩm trong môi trường bất lợi cho đồ da/vải)</p>
            <p style="text-align:justify;">* Lớp keo dán, keo ép nhiệt bị bong, logo bị hỏng.</p>
            <p style="text-align:justify;">
                <strong>Trường hợp không được bảo hành</strong>
            </p>
            <p style="text-align:justify;">- Không bảo hành phụ kiện: phụ kiện bị hỏng va đập hoặc làm mất, bị hao mòn hoặc cháy trong quá trình sử dụng, hoặc do môi trường gây ra</p>
            <p style="text-align:justify;">- Không nhận các sản phẩm đã quá cũ (da/vải và đế bị lão hóa, không còn độ bám dính của keo, chỉ, hoặc không có phụ kiện để thay thế).</p>
            <p style="text-align:justify;">- Những thiệt hại trong quá trình sử dụng: sản phẩm bị rách, trầy xước do người sử dụng (va quệt, rạch, co kéo, đựng quá nặng, ẩm mốc, ố vàng, bạc màu do tiếp xúc với mồ hôi, nước mưa…)</p>
            <p style="text-align:justify;">- Sản phẩm bị biến dạng, giảm giá, hoặc không có chứng từ mua hàng.</p>
            <p style="text-align:justify;">
                <strong>Thời hạn bảo hành chi tiết sản phẩm</strong>
            </p>
            <p style="text-align:justify;">- Bảo hành lên tới 12 tháng đối với sản phẩm đồ da (theo quy định của từng loại và từng chi tiết của sản phẩm) kể từ ngày mua hàng được ghi trên hóa đơn bán hàng</p>
            <p style="text-align:justify;">- Bảo hành lên tới 30 ngày đối với sản phẩm đồ vải (theo quy định của từng nhóm sản phẩm và từng chi tiết của sản phẩm) kể từ ngày mua hàng được ghi trên hóa đơn bán hàng</p>
            <p style="text-align:justify;">- Cửa hàng không nhận sửa chữa những sản phẩm quá cũ, da/ vải bị lão hóa, bị nhão, không còn độ bám dính của keo, chỉ hoặc không còn phụ kiện thay thế- Trong trường hợp lỗi da/ vải ngoại quan, NKTVest không thể xử lý sẽ được đổi sang một sản phẩm khác cùng mặt hàng, nếu cùng một mặt hàng không có sẵn để thay thế, NKTVest sẽ đổi sản phẩm bằng hoặc thấp hơn giá trị ban đầu của sản phẩm.</p>
            <p style="text-align:justify;">- Với sản phẩm lỗi kỹ thuật đã quá thời gian quy định đổi hàng của chính sách, NKTVest sẽ tiến hành bảo hành, thay thế theo hiện trạng lỗi của phụ kiện, trên chính phụ kiện đó</p>
            <p style="text-align:justify;">
                <strong>Thời hạn bảo dưỡng</strong>
            </p>
            <p style="text-align:justify;">- Bảo dưỡng sản phẩm trọn đời. "Một lần mua - Bảo dưỡng trọn đời" với các quá trình làm mới, làm sạch, làm bóng, làm mềm sản phẩm.</p>
            <p style="text-align:justify;">
                <strong>Quy định về tính phí vận chuyển</strong>
            </p>
            <p style="text-align:justify;">- Trường hợp khách hàng chuyển sản phẩm muốn bảo hành tới cửa hàng hoặc phòng CSKH, vui lòng gọi trước tới tổng đài hệ thống hoặc Hotline tại cửa hàng để được tư vấn và hỗ trợ.</p>
            <p style="text-align:justify;">- Trường hợp đã bảo hành xong, sản phẩm sẽ được chuyển trả cho cửa hàng hoặc cho khách hàng: cửa hàng sẽ chịu phí vận chuyển nếu có phát sinh.</p>
            <p style="text-align:justify;">- Trường hợp hỗ trợ bảo hành ngoài chính sách cho khách hàng: Quý khách vui lòng chịu phí vận chuyển 2 chiều.</p>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

