
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPagePhu.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <h2 style="text-align:center;font-style:oblique; color:maroon; font-weight:bold">GIỚI THIỆU VỀ NKTVEST</h2>
            <p>
                Một quý ông cần phải đặt ra những tiêu chuẩn cao ăn mặc đẹp khi họ lựa chọn trang phục, phụ kiện phù hợp với mùa, sự kiện và phong cách riêng của mình. Ăn mặc chỉn chu không phụ thuộc vào giá tiền hay hàng hiệu, mà xuất phát từ việc chăm sóc quần áo cẩn thận, để ý từng chi tiết, phối hợp hài hòa giữa các bộ phận nhằm tạo nên tổng thể phù hợp với hoàn cảnh và sở thích của bản thân.
                <br>
                <br>Trang phục còn giúp quý ông thể hiện địa vị xã hội, đồng thời còn được sử dụng để truyền đạt sự tôn trọng đối với chủ tiệc hay chủ nhà mà không gợi lên sự ghen ghét hay khoe khoang. Việc ăn mặc chỉn chu cũng là niềm tự hào của quý ông bởi điều đó thể hiện cá tính và gu thẩm mỹ của bản thân.
            </p>
            <img style="margin-left:-60px" src="~/Content/images/GT.jpg">
            <p><br><br>Đến với NKTVest chúng tôi sẽ không làm bạn thất vọng với những tác phẩm "quý ông" mang đậm phong cách hiện đại mới mẻ nhưng vẫn giữ được nét trang nhã, sang trọng. chúng tôi đã lấy cảm hứng từ các mẫu Suit cổ điển nổi tiếng trên thế giới và hòa hợp lại và thiết kế ra những bộ Suit độc đáo mang nét riêng biệt, từ nay bạn không cần phải lo lắng khi phối đồ để dự các buổi tiệc, hãy để NKTVest chúng tôi lo .</p>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

