@model IEnumerable<NKTVest.Models.LOAISP>
    
<div class="list-group">
@foreach (var item in Model)
    {
    <a style="font-weight:bold; font-size:24; font-style:italic" href="@Url.Action("SPTheoLoai", "Vest", new {id = item.MALOAI})" class="list-group-item">
    @item.TENLOAI
        </a>
}
</div>
