@model IEnumerable<NKTVest.Models.SANPHAM>
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center; color:darkmagenta">KẾT QUẢ TÌM KIẾM</h2>
<div class="row">
    @foreach (var sp in Model)
    {
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail" style="height:532.39px">
            <a href="@Url.Action("Details", "Vest", new {id = sp.MASP })">
                <img width="200" alt="@sp.TENSP" src="~/Content/images/anhbia/th/@sp.ANHBIA" />
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @sp.TENSP
                    </h4>
                    <h4 style="text-align:center; color:darkred">
                        Giá bán: @sp.DONGIA
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </a>
        </div>
    </div>
    }
</div>


