
@{
    ViewBag.Title = "XacNhanDH";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>XÁC NHẬN ĐƠN HÀNG</h2>
<h3>Đơn hàng của quý khách đã được ghi nhận. Nhân viên của NKTVest sẽ sớm liên hệ với quý khách để xác nhận đơn hàng và tư vấn Size cho quý khách hàng!
    <br />Rất cảm ơn sự tin tưởng và ủng hộ của quý khách đối với NKTVest.
    </h3>
<p>
    @Html.ActionLink("Quay Lại Trang Chủ", "Index", "Vest")
</p>

