USE [NKTVest]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MASP] [char](6) NOT NULL,
	[MADH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[TONGTIEN] [int] NULL,
	[MAKM] [char](6) NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDAT] [date] NULL,
	[THANHTOAN] [bit] NULL,
	[GIAOHANG] [bit] NULL,
	[NGAYGIAO] [date] NULL,
	[MAKH] [int] NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[MAFB] [int] IDENTITY(1,1) NOT NULL,
	[HOTENNG] [nvarchar](50) NULL,
	[SDTNG] [varchar](15) NULL,
	[EMAILNG] [varchar](100) NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[TRANGTHAI] [bit] NULL,
	[NOIDUNGREP] [nvarchar](500) NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_FEEDBACK] PRIMARY KEY CLUSTERED 
(
	[MAFB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HINHSP]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HINHSP](
	[MAHA] [char](14) NOT NULL,
	[MASP] [char](6) NOT NULL,
 CONSTRAINT [PK_HINHSP] PRIMARY KEY CLUSTERED 
(
	[MAHA] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTENKH] [nvarchar](50) NULL,
	[NTNS] [date] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SDTKH] [varchar](15) NULL,
	[EMAILKH] [varchar](100) NULL,
	[PASSKH] [char](15) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [char](6) NOT NULL,
	[HINHTHUC] [nvarchar](50) NULL,
	[GIATRI] [int] NULL,
	[BATDAU] [date] NULL,
	[KETTHUC] [date] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](6) NOT NULL,
	[TENLOAI] [nvarchar](20) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[HOTENNV] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[NTNS] [date] NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](80) NULL,
	[PASS] [char](15) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](6) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[TRANGTHAI] [bit] NULL,
	[NGAYTHEM] [date] NULL,
	[ANHBIA] [char](14) NULL,
	[MOTA] [nvarchar](max) NULL,
	[MAUSAC] [nvarchar](15) NULL,
	[MALOAI] [char](6) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 7/24/2021 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[KIEUSIZE] [char](3) NOT NULL,
	[MASP] [char](6) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[KIEUSIZE] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CTDDH] ([MASP], [MADH], [SOLUONG], [GIABAN], [TONGTIEN], [MAKM]) VALUES (N'AV2629', 1, 1, 1600000, 1600000, NULL)
INSERT [dbo].[CTDDH] ([MASP], [MADH], [SOLUONG], [GIABAN], [TONGTIEN], [MAKM]) VALUES (N'AV2629', 2, 2, 1600000, 3200000, NULL)
INSERT [dbo].[CTDDH] ([MASP], [MADH], [SOLUONG], [GIABAN], [TONGTIEN], [MAKM]) VALUES (N'SU2603', 2, 1, 2000000, 2000000, NULL)
SET IDENTITY_INSERT [dbo].[DATHANG] ON 

INSERT [dbo].[DATHANG] ([MADH], [NGAYDAT], [THANHTOAN], [GIAOHANG], [NGAYGIAO], [MAKH], [MANV]) VALUES (1, CAST(N'2021-07-08' AS Date), 0, 0, CAST(N'2021-07-22' AS Date), 1, NULL)
INSERT [dbo].[DATHANG] ([MADH], [NGAYDAT], [THANHTOAN], [GIAOHANG], [NGAYGIAO], [MAKH], [MANV]) VALUES (2, CAST(N'2021-07-08' AS Date), 1, 1, CAST(N'2021-07-13' AS Date), 1, N'1811061540')
SET IDENTITY_INSERT [dbo].[DATHANG] OFF
SET IDENTITY_INSERT [dbo].[FEEDBACK] ON 

INSERT [dbo].[FEEDBACK] ([MAFB], [HOTENNG], [SDTNG], [EMAILNG], [NOIDUNG], [TRANGTHAI], [NOIDUNGREP], [MANV]) VALUES (4, N'Nguyễn Hữu Tài', N'0976251096', N'nhtna.98@gmail.com', N'Hello NKTVest. Tôi tin tưởng các bạn sẽ đem đến một làn gió mới cho phong cách thời trang Vest nam ở thị trường Việt Nam', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FEEDBACK] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [NTNS], [DIACHI], [SDTKH], [EMAILKH], [PASSKH]) VALUES (1, N'Nguyễn Hữu Tài', CAST(N'1996-10-25' AS Date), N'Thuận Minh, Thọ Xuân, Thanh Hóa', N'0976251096', N'nhtna.98@gmail.com', N'251096         ')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TRANGTHAI]) VALUES (N'AOSOMI', N'Áo Sơ Mi', 1)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TRANGTHAI]) VALUES (N'AOVEST', N'Áo Vest', 1)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TRANGTHAI]) VALUES (N'BOSUIT', N'BST Suit', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [DIACHI], [NTNS], [SDT], [EMAIL], [PASS]) VALUES (N'1811060369', N'Trần Châu Khoa', N'TP.HCM', CAST(N'2000-09-27' AS Date), N'0934165224', N'khoachautran@gmail.com', N'1811060369     ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [DIACHI], [NTNS], [SDT], [EMAIL], [PASS]) VALUES (N'1811061540', N'Nguyễn Hữu Tài', N'Thanh Hóa', CAST(N'1996-10-25' AS Date), N'0976251096', N'nguyenhuutai.251096@gmail.com', N'251096         ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [DIACHI], [NTNS], [SDT], [EMAIL], [PASS]) VALUES (N'1811061850', N'Nguyễn Tâm Như', N'Tây Ninh', CAST(N'2000-07-18' AS Date), N'0834336496', N'tamnhu180700@gmail.com', N'1811061850     ')
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [ct] FOREIGN KEY([MADH])
REFERENCES [dbo].[DATHANG] ([MADH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [ct]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [km] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [km]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [thuoc ct] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [thuoc ct]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [Dat don] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [Dat don]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [qldh] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [qldh]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [QL] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [QL]
GO
ALTER TABLE [dbo].[HINHSP]  WITH CHECK ADD  CONSTRAINT [gom] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HINHSP] CHECK CONSTRAINT [gom]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [Co] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [Co]
GO
ALTER TABLE [dbo].[SIZE]  WITH CHECK ADD  CONSTRAINT [gom co] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SIZE] CHECK CONSTRAINT [gom co]
GO
